*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%; //1rem = 10px;
  font-family: 'Lato';
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem 400px max-content 35rem;
  grid-gap: 2rem;
}
