*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-size: 62.5%; //1rem = 10px;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 3rem 400px auto 35rem max-content 35rem 3rem;
  grid-gap: 2rem;
}

.old-cards {
  display: grid;
  grid-template-columns: subgrid;

  grid-column: 1 / 5;
}

.follow {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  grid-column: 1 / 5;

  & > * {
    margin-right: 2rem;
  }
}
