.hero {
  grid-row: 2 / 3;
  grid-column: 1 / 5;

  display: grid;
  grid-template-rows: 8fr min-content min-content min-content 1fr;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;

  background-image: url(../img/slide1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 0 3rem;
  text-align: center;

  &__heading {
    grid-row: 2 / 3;
  }

  &__text {
    grid-row: 3 / 4;
  }

  &__btn {
    grid-row: 4 / 5;
  }
}
